.jokes{
    background-color: aqua;
    color: black;
    border-radius: 6px;
    margin: .2rem;
    padding: 5px;
    h4{
        color: brown;
    }

    .rating{
        color: rgb(175, 68, 166);
    }
}